.nav-item {
  display: none;
}

.nav {
  margin: 0;
  background-color: #272727;
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

.nav-list {
  --logo-size: 1.5rem;
  list-style-type: none;
  padding-inline: 1rem;
  padding-block: 0.7rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #f1f5f9;
  margin: 0;
  width: 100%;
  max-width: 1100px;
}
.nav-logo,
.nav-list > .link > img {
  width: 100px;
}

.link > img {
  width: 100%;
  object-fit: contain;
}

.nav-mobile-item {
  font-size: var(--logo-size);
}

.nav-mobile-item:nth-child(1 of .nav-mobile-item) {
  margin-left: auto;
}

.link {
  text-decoration: none;
  color: white;
}

button {
  background-color: transparent;
  border: none;
}

.nav-mobile-btn {
  color: white;
  padding: 0;
  font-size: var(--logo-size);
}

@media (min-width: 768px) {
  .nav-item {
    display: block;
  }
  .nav-list {
    padding-block: 1.5rem;
  }
  .nav-mobile-item {
    display: none;
  }
  .nav-item:nth-child(1 of .nav-item) {
    margin-left: auto;
  }
  .nav-item:nth-child(2 of .nav-item) {
    margin-right: auto;
  }
  .nav-logout-btn {
    background-color: #6366f1;
    color: white;
    font-family: 'Roboto';
    padding-inline: 2rem;
    padding-block: 0.4rem;
    border: none;
    border-radius: 0.2rem;
    font-weight: 500;
    cursor: pointer;
    outline: none;
  }
}
